@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin: 0;
  background: #fff;
  color: #222;
}
#date{
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  color: #bbb;
  font-size: 10px;
  font-weight: 100;	
}
h2{
  text-align: left;
  font: bold 45px;
  color: #333;
	line-height: 90%;
	margin: .2em 0 .4em 0;
	letter-spacing: -2px;
}
#about{
  color: #4c4a37; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 18px; 
  line-height: 32px;
  margin: 0 0 24px; 
  text-align: justify;
}
a {
  color: #ff9697;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  background: #fff;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover, a:focus {
  text-decoration: underline;
}

.toggleNav {
  display: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.top h1 a {
  font-size: 2rem;
  font-weight: 900;
}

input {
  padding: 10px;
  border: 0;
}

section {
  text-align: center;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  font-weight: 100;
}

form {
  padding: 20px;
  margin: 20px 0;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
}

.flex-nav li {
  -webkit-box-flex: 3;
  flex: 3;
}

.flex-nav li a {
  color: #8b8b8b;
}

.flex-nav li a:hover, .flex-nav li a:focus {
  color: #222;
}

.flex-nav .social {
  -webkit-box-flex: 1;
  flex: 1;
}

input {
  padding: 0.75em 2em;
  font-size: 1rem;
}

input[type=text], input[type=email] {
  border: 1px solid #e2e2e2;
}

input[type=submit] {
  background: #222;
  border: 1px solid #222;
  color: #fff;
  cursor: pointer;
  outline: none;
}

@media all and (max-width:768px) {
  .flex-nav li{
    flex-basis: 100%;
  }
  
  .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .wrapper > * {
    -webkit-box-ordinal-group: 100;
    order: 99;
  }
  
  .flex-nav {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .toggleNav {
    display: block;
    color: #8b8b8b;
  }

  .toggleNav:hover, .toggleNav:focus {
    color: #222;
    text-decoration: none;
  }

  .flex-nav {
    border-bottom: 1px solid #e2e2e2;
  }

  .flex-nav ul {
    display: none;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nav ul.open {
    display: -webkit-box;
    display: flex;
  }
  
  .top {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }

  .details {
    -webkit-box-ordinal-group: 4;
    order: 3;
  }
}
