<html>
<link rel="stylesheet" href="../static/About.css">
<title>About</title>
<div class="wrapper">
    
  <header class="top">
    <h1><a href="Home" title="Katosnap">Katosnap</a></h1>
  </header>

  <nav class="flex-nav">
    <a href="" class="toggleNav"><i class="fa fa-bars"></i> Menu</a>
    <ul>
      <li><a href="Home" title="Home">Home</a></li>
      <li><a href="About" title="About">About</a></li>
      <li><a href="Work" title="Work">Work</a></li>
      <li><a href="Login" title="Login">Login</a></li>
      <li><a href="Contact" title="Contact">Contact</a></li>
    </ul>
  </nav>

  <section id="intro">
    <p id="date">06/08/2021</p>
    <h2>About</h2>
    <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis ornare vestibulum. Maecenas sodales risus eget feugiat efficitur. Duis mauris leo, laoreet faucibus sem nec, posuere aliquam erat. Donec lectus velit, bibendum vel elit in, congue venenatis tellus. Nam eu eros vitae nibh fermentum malesuada. Sed at bibendum magna. Integer id ultricies eros. Nunc ullamcorper diam fringilla, egestas lectus vel, placerat arcu.

      <br><br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla et augue lacus. Vestibulum viverra massa sit amet augue scelerisque, eget rhoncus orci dapibus. Proin vitae aliquam ligula. Vivamus pharetra lacinia elit. Suspendisse eget malesuada est. Nulla est eros, elementum quis diam eget, pretium molestie magna. In dui lorem, ullamcorper a purus nec, sodales consequat magna. In auctor arcu turpis, non venenatis eros cursus iaculis. Fusce sed nunc id magna consectetur vehicula. Nullam cursus est cursus luctus tempus. Donec lobortis felis nec lectus luctus congue.
      
      <br><br>Nulla auctor malesuada bibendum. Sed eu consectetur sem. Nunc tincidunt arcu a metus pretium auctor. Donec ultricies vel ligula a faucibus. Vestibulum varius eget massa volutpat egestas. Fusce erat tortor, fermentum et mauris ut, aliquet semper enim. Duis lobortis vestibulum lorem finibus mattis. Maecenas turpis nibh, blandit a dictum vitae, aliquam et eros. Cras ut bibendum erat. Vivamus non feugiat est. Praesent eu egestas nisi. In vehicula metus sed nisi rutrum luctus. Nulla lobortis ornare ipsum, sollicitudin lacinia neque. Praesent varius sem nec viverra iaculis. Maecenas ac mi iaculis, vehicula enim ut, lobortis ipsum. Proin mollis arcu massa, a interdum nisl consequat vitae.
      
      <br><br>Pellentesque ut dolor ac eros congue laoreet quis vel erat. Nam ac tellus non lacus imperdiet efficitur. Etiam dolor justo, consectetur accumsan feugiat pulvinar, venenatis ac elit. Fusce efficitur vitae metus eu dignissim. Sed bibendum posuere pulvinar. Etiam a mi et risus luctus efficitur. Phasellus at bibendum turpis. Fusce non massa lacus. Cras nec nisi sit amet sem lobortis feugiat. In purus erat, molestie ac aliquet eu, condimentum eget ante. Vestibulum ac nulla nunc. Fusce blandit felis ac cursus volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis placerat lacus sed orci accumsan aliquam. Aenean eleifend, lectus quis interdum gravida, diam risus ornare tortor, quis porta magna est nec dui.
      
      <br><br>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras finibus mollis mauris, ac malesuada nulla pulvinar at. Morbi finibus, dolor id accumsan iaculis, nunc leo sagittis ex, nec porttitor augue lorem vitae nulla. Aenean euismod aliquam dui, eget molestie lectus consequat at. Duis eget tristique turpis, eu bibendum justo. Nulla facilisi. Ut malesuada ultricies tempus. Maecenas libero ligula, euismod a nunc nec, consequat viverra orci. Proin id orci cursus, lacinia nibh non, laoreet tortor. Aenean eu ligula quis turpis sollicitudin venenatis rutrum vitae risus. Vestibulum ac nisi semper, dapibus leo sit amet, interdum ex.
  </section>
  <section class="details">
    <h2>Sign up today for the latest updates!</h2>
    <form action="" class="signup" method="POST">
      <input type="text" placeholder="Your Name" name="name">
      <input type="submit" value="Sign Up">
    </form>
  </section>

</div>
</html>