<html>
<link rel="stylesheet" href="../static/css/Home.css">
<title>Home</title>
<div class="wrapper">
    
  <header class="top">
    <h1><a href="home" title="Katosnap">Katosnap</a></h1>
  </header>

  <nav class="flex-nav">
    <a href="#" class="toggleNav"><i class="fa fa-bars"></i> Menu</a>
    <ul>
      <li><a href="home" title="Home">Home</a></li>
      <li><a href="about" title="About">About</a></li>
      <li><a href="signin" title="Login">Login</a></li>
      <li><a href="register" title="Signup">Sign up</a></li>
    </ul>
  </nav>

  <section class="gallery">
    <ul>
      <li class="gallery-image">
        <img src="https://source.unsplash.com/hclTKUfuf1U" alt="Katosnap">
      </li>
      <li class="gallery-image">
        <img src="https://source.unsplash.com/AlEyuIKuSmc" alt="Katosnap">
      </li>
      <li class="gallery-image">
        <img src="https://source.unsplash.com/DOExRUPPwYY" alt="Katosnap">
      </li>
      <li class="gallery-image">
        <img src="https://source.unsplash.com/a6x7YPiNxwI" alt="Katosnap">
      </li>
      <li class="gallery-image">
        <img src="https://source.unsplash.com/AiORnUT6sC0" alt="Katosnap">
      </li>
      <li class="gallery-image">
        <img src="https://source.unsplash.com/DGVA6sqYdUA" alt="Katosnap">
      </li>
    </ul>
  </section>

  <section class="details">
    <h2>Sign up today for the latest updates!</h2>
    <form action="/register" class="signup" method="POST">
      <input type="text" placeholder="Your Name" name="name">
      <input type="submit" value="Sign Up">
    </form>
  </section>

</div>
</html>
