<!DOCTYPE html>
<html lang="en">
<head>
  <header class="top">
    <h1><a href="home" title="Katosnap">Katosnap</a></h1>
  </header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login System</title>

  <link rel="stylesheet" href="/static/css/signup.css">

</head>
<body>

  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form name="signup_form">

        <label for="name">Name</label>
        <input type="text" name="name" class="field" required>

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">
      
      </form>
      
    </div>
      
    </div>
  
  </div>
  
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>
  
</body>
</html>